<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= APP_NAME %></title>
</head>
<body>
  <h1>お手紙を送りました</h1>
  <p>件名: <%= title %></p>
  <p>本文: <%= content %></p>
</body>
</html>
